*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.navbar {
    position: sticky;
    box-shadow: 0 15px 15px  rgba(96, 228, 228, 0.979);
    background-color: rgba(64, 135, 175, 0.952);
    top: 0;
    z-index: 10000;
    color: antiquewhite;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo img {
    width: 200px;
    height: auto;
    
    
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav-link{
    color: antiquewhite;
    text-decoration: none;
    font-size: 15pt;+
    font-weight: 300;
    padding: 8px 16px;
    border-radius: 10px;
    
}
.nav-link:hover {
    background-color: rgb(66, 91, 231);
}

@media screen and (max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }
    .nav-logo img{
        width: 110%;
        height: auto;
        margin-bottom: 16px;
    }
    .nav-menu{
        flex-direction: column;
    }
    
}